@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  overflow: hidden;
}

ul {
  list-style-type: disc; 
  margin-left: 20px;
}

ol {  
  list-style-type: decimal;
  margin-left: 20px;
}

li {
  margin-bottom: 5px;
}

.tabs-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: nowrap; 
  overflow-x: auto; 
  scrollbar-width: none; 
}

.tabs-container::-webkit-scrollbar {
  visibility: hidden; 
}

.tabs-container::-webkit-scrollbar-thumb {
  background: #6c718f; 
  border-radius: 10px; 
}

.avr{
  scrollbar-color: #9f9f9f #2c2c2c; 
}
