@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background: #f3ecec;
}

ul {
  list-style-type: disc; 
  margin-left: 20px;
}

ol {  
  list-style-type: decimal;
  margin-left: 20px;
}

li {
  margin-bottom: 5px;
}

.tabs-container::-webkit-scrollbar {
  height: 3px; 
}

.tabs-container::-webkit-scrollbar-track {
  background: #20263b; 
  border-radius: 3px;
}

.tabs-container::-webkit-scrollbar-thumb {
  background: #8c90aa; 
  border-radius: 3px;
}

.tabs-container {
  scrollbar-width: thin; 
  scrollbar-color: #6c718f #24293d; 
}

.tabs-container {
  flex: 1 1 auto; 
  min-width: 0; 
}