@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background: #f3ecec;
  overflow: hidden;
}

ul {
  list-style-type: disc; 
  margin-left: 20px;
}

ol {  
  list-style-type: decimal;
  margin-left: 20px;
}

li {
  margin-bottom: 5px;
}

.tabs-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: nowrap; /* Mantener las pestañas en una fila */
  overflow-x: auto; /* Habilitar desplazamiento horizontal */
  scrollbar-width: none; /* Oculta el scroll (Firefox) */
}

.tabs-container::-webkit-scrollbar {
  visibility: hidden; 
}


.tabs-container::-webkit-scrollbar-thumb {
  background: #6c718f; /* Color de la barrita */
  border-radius: 10px; /* Bordes redondeados */
}

.avr{
  scrollbar-color: #9f9f9f #2c2c2c; 
}
